body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: url(/images/window_811007.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }